body {
    margin: 0;
    height: 100%;
}
#navbar {
    overflow: hidden;
    background-color: #141414;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo {
    position: relative;
    display: block;
    float: inline-start;
    margin-right: 25%;
    margin-left: 15px;
}
#navbar a {
    float: left;
   display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    margin-right: 25px;
    margin-top: 14px;
    transition: 0.3s ease-in-out;
    opacity: 1;
}
#navbar a:hover {
    opacity: 0.7;
    color:#16cba7;
}
.active {
    color: #16cba7!important;
}
#navbar a:active {
    color:#16cba7;
}
.nav-icon {
    float: right!important;
}
.banner {
    padding: 75px 0;
    background-image: url("image/file.jpg");
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ Ð¸ Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%;
    height: 600px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}
.banner__text {
    font-size: 30px;
}